body, html{
  background-color: #FFFDE8;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: black solid 1px;
  width: 35%;
  height: 60%;
}

.connectButton {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: transparent;
  height: 40px;
  width: 140px;
  border: black solid 1px;
  border-radius: 40px;
  cursor: pointer;
}

.contractAddress {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.setContract {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.currentValue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.currentValue button {
  margin-top: 20px;
}

.errorMessage {
  color: rgb(255, 0, 0);
}

.bodyText {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  word-break: break-all;
}

form input {
  background-color: transparent;
  height: 25px;
  width: 200px;
  border: black solid 1px;
  border-radius: 40px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 1.2vw;
}

form button {
  background-color: transparent;
  height: 27px;
  width: 70px;
  border-left: black solid 1px;
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: -25%;
}

button {
  background-color: transparent;
  height: 40px;
  width: 140px;
  border: black solid 1px;
  border-radius: 40px;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FFFDE8 inset !important;
}


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {

  .contentContainer {
    width: 80%;
    height: 70%;
  }

  .connectButton {
    top: 3%;
    right: 3%;
    height: 35px;
    width: 120px;
  }

  .bodyText {
    overflow-wrap: break-word;
    padding: 2px;
    word-wrap: break-word;
    flex-wrap: wrap;
  }

  form input {
    font-size: 3vw;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  body, html {
      font-size: 3vw;
  }

  .contentContainer {
    width: 80%;
    height: 70%;
  }

  .connectButton {
    font-size: 2vw;
    height: 50px;
    width: 155px;
  }

  form input {
    height: 30px;
    width: 250px;
    padding-left: 10px;
    font-size: 2vw;
  }
  
  form button {
    height: 30px;
    width: 70px;
    margin-left: -25%;
  }

  .currentValue button {
    font-size: 2vw;
    height: 50px;
    width: 155px;
  }
}